{% extends 'base.html.twig' %}

{% block title %}Things to do in Austia{% endblock %}

{% block body %}
            <div class="container m-5">
 <ul>
             <li class="list-group-item mb-5"><img src="{{asset('pictures/austria.jpg')}}"</li>
           <li>Looking for things to do in Austria? Whether you're a local, new in town or just cruising through we've got loads of great tips and events. You can explore by location, what's popular, our top picks, free stuff... you got this. Ready?</li>
           <td>April 2022</td>
       </ul>
       </div>   <div class="container m-5">

{% endblock %}