{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
          <ul>
             <li class="list-group-item">Organisation: Austria Events Community</li>       
       <li class="list-group-item">E-mail:event_austria@mail.org.at</li>
       <li class="list-group-item">Phone Number: 0660212122</li>
       <li class="list-group-item">Address: Cossmanngasse 20</li>
       <li class="list-group-item">ZIP Code: 1140</li>
       <li class="list-group-item">City: Vienna</li>

           <td>April 2022</td>
       </ul>
{% endblock %}